{% extends "base.html"%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href='{% static "home/css/landingpage2.css" %}' />
{% endblock %}

{% block title %}
    <title>ADHYAKSA JAYUS & PARTNERS</title>
{% endblock %}

{% block content %}
    <div class="container" id="headline">
        <div class="row">
            <div class="col-md-12">
                <h1 id="companyTitle">Adhyaksa Jayus & Partners (AJP)</h1>
                <h4 id="companyAboutUsSummary">is an Indonesian law firm providing <span class="summaryAboutUsHighlight">full range of legal services</span>
                    in Indonesia. Established in 2000, Adhyaksa Jayus & Partners commands
                    <span class="summaryAboutUsHighlight">a wealth of experience</span> and 
                    <span class="summaryAboutUsHighlight">expertise in assisting our clients with unmatched commitment.</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="container section-container" id="whyAdhyaksaSection">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title"><span class="section-highlight">Why</span> Adhyaksa Jayus & Partners</h1>
                <div id="accordion-why">
                    <div class="card">
                      <div class="card-header" id="headingOneWhy" data-toggle="collapse" data-target="#collapseOneWhy" aria-expanded="false" aria-controls="collapseOneWhy">
                        <div class="row">
                          <div class="col-md-11">
                            High Quality Services
                          </div>
                          <div class="col-md-1 dropdown-icon">
                            <i class="fas"></i>
                          </div>
                        </div>
                      </div>
                      <div id="collapseOneWhy" class="collapse" aria-labelledby="headingOneWhy" data-parent="#accordion-why">
                        <div class="card-body">
                          One of our many goals is to provide exceptional service to our clients and prompt interaction.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwoWhy" data-toggle="collapse" data-target="#collapseTwoWhy" aria-expanded="false" aria-controls="collapseTwoWhy">
                        <div class="row">
                          <div class="col-md-11">
                            Client-focused
                          </div>
                          <div class="col-md-1 dropdown-icon">
                            <i class="fas"></i>
                          </div>
                        </div>
                      </div>
                      <div id="collapseTwoWhy" class="collapse" aria-labelledby="headingTwoWhy" data-parent="#accordion-why">
                        <div class="card-body">
                          Our firm principles secures  that  clients  receive  comprehensible,  synoptic and practical advice, based on an in-depth knowledge of the legal and commercial views. The clients’ needs will always be coming first.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThreeWhy" data-toggle="collapse" data-target="#collapseThreeWhy" aria-expanded="false" aria-controls="collapseThreeWhy">
                        <div class="row">
                          <div class="col-md-11">
                            Single Window Shop
                          </div>
                          <div class="col-md-1 dropdown-icon">
                            <i class="fas"></i>
                          </div>
                        </div>
                      </div>
                      <div id="collapseThreeWhy" class="collapse" aria-labelledby="headingThreeWhy" data-parent="#accordion-why">
                        <div class="card-body">
                          Our team is dedicated to offering quality services tailored to the diverse needs of every client in a dynamic and ever-changing business environment, all under one roof.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFourWhy" data-toggle="collapse" data-target="#collapseFourWhy" aria-expanded="false" aria-controls="collapseFourWhy">
                          <div class="row">
                            <div class="col-md-11">
                              Commercially effective
                            </div>
                            <div class="col-md-1 dropdown-icon">
                              <i class="fas"></i>
                            </div>
                          </div>
                        </div>
                        <div id="collapseFourWhy" class="collapse" aria-labelledby="headingFourWhy" data-parent="#accordion-why">
                          <div class="card-body">
                            Our “single-window shop” approach allows us to serve our clients in a manner that is efficient, prompt, and commercially effective
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container section-container" id="whatWeDoSection">
      <div class="row">
          <div class="col-md-12">
              <h1 class="section-title"><span class="section-highlight">What</span> We Do</h1>
              <div id="accordion-what">
                  <div class="card">
                    <div class="card-header" id="headingOneWhat" data-toggle="collapse" data-target="#collapseOneWhat" aria-expanded="false" aria-controls="collapseOneWhat">
                      <div class="row">
                        <div class="col-md-11">
                          01 | Infrastructure & Project Finance
                        </div>
                        <div class="col-md-1 dropdown-icon">
                          <i class="fas"></i>
                        </div>
                      </div>
                    </div>
                    <div id="collapseOneWhat" class="collapse" aria-labelledby="headingOneWhat" data-parent="#accordion-what">
                      <div class="card-body">
                        Our team has broad experiences in infrastructure and project finance practice, advising and solving the complexities involved in transactions, financing and policy between public and private sectors in the infrastructure field.
                        <br />
                        Possessing extensive transactional experiences and strong relationships with government regulatory bodies, our team is properly equipped to deal with complex energy and infrastructure transactions, representing government, local and international private investors and operators as well as banks and financial institutions.
                        <br />
                        <b>AJP (previously Adhyaksa&Co.) managed to be the very first law firm in Indonesia who succeeded in transacted PPP Project in water supply infrastructure in Indonesia, i.e., Tangerang PPP Water Supply of worth USD 4 billion.</b>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwoWhat" data-toggle="collapse" data-target="#collapseTwoWhat" aria-expanded="false" aria-controls="collapseTwoWhat">
                      <div class="row">
                        <div class="col-md-11">
                          02 | Corporate Commercials & Capital Markets
                        </div>
                        <div class="col-md-1 dropdown-icon">
                          <i class="fas"></i>
                        </div>
                      </div>
                    </div>
                    <div id="collapseTwoWhat" class="collapse" aria-labelledby="headingTwoWhat" data-parent="#accordion-what">
                      <div class="card-body">
                        Our team is knowledgeable and has broad experience in dealing with joint venture transactions and company establishment for wide range of business sectors. We have assisted clients both local and foreign clients in dealing with their counterparts in corporate commercial transactions, advising clients on corporate restructuring, initial public offerings (IPOs) of equity and non-equity instruments, rights issues, asset securitization, and other issues of securities.
                        <br />
                        AJP is experienced in handling commercial and trading transactions such as export and import documents and agreements. This specialty brings confidence to our progressive clients in developing and expanding their businesses.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThreeWhat" data-toggle="collapse" data-target="#collapseThreeWhat" aria-expanded="false" aria-controls="collapseThreeWhat">
                      <div class="row">
                        <div class="col-md-11">
                          03 | Commercial Dispute & Arbitration
                        </div>
                        <div class="col-md-1 dropdown-icon">
                          <i class="fas"></i>
                        </div>
                      </div>
                    </div>
                    <div id="collapseThreeWhat" class="collapse" aria-labelledby="headingThreeWhat" data-parent="#accordion-what">
                      <div class="card-body">
                        <b>Two periods as the Chairman of the national high-level Judicial Commissions make Mr. Jaja Ahmad Jayus as one of the most prominent individual in Indonesia legal community. Mr. Jayus leads the commercial dispute & arbitration within AJP which makes dispute practice of AJP as one of the strongest in Indonesia.</b>
                        <br/>
                        AJP understands that in the face of regulatory challenge, dispute resolution is currently becoming a  major  concern  to  foreign  investors  and  business  participants,  thus  our  Dispute  Practice Group focuses on developing areas that are required to protect and maximize our clients’ investment and business.
                        <br/>
                        With  this  in  mind,  our  practice  group’s  areas  of  focus  cover  the     Bankruptcy,  Insolvency  and Restructuring (“BIR”),  Civil  Litigation  and Commercial  Litigation, Employment and Labor Dispute, Arbitration and Alternative Dispute Resolution (“ADR”).
                      </div>
                    </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingFourWhat" data-toggle="collapse" data-target="#collapseFourWhat" aria-expanded="false" aria-controls="collapseFourWhat">
                        <div class="row">
                          <div class="col-md-11">
                            04 | Corporate Governance
                          </div>
                          <div class="col-md-1 dropdown-icon">
                            <i class="fas"></i>
                          </div>
                        </div>
                      </div>
                      <div id="collapseFourWhat" class="collapse" aria-labelledby="headingFourWhat" data-parent="#accordion-what">
                        <div class="card-body">
                          AJP has represented leading national and multi-national companies in their Corporate Governance related matters. Our clients work in a variety of sectors, including manufacturing, banking and finance, consumer products, construction, mining, and other sectors.
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
    
{% endblock %}
