{% extends "base.html"%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href='{% static "home/css/landingpage2.css" %}' />
{% endblock %}

{% block title %}
    <title>ADHYAKSA JAYUS & PARTNERS | The Indonesian Law Firm</title>
{% endblock %}

{% block content %}
    <div class="container" id="headline">
        <div class="row">
            <div class="col-md-12">
                <h1 id="companyTitle">ADHYAKSA JAYUS & PARTNERS</h1>
                <h4 id="companySubtitle">Official Website</h4>
            </div>
        </div>
    </div>
    <div class="container" id="subheadline">
        <div class="row">
            <div class="col-md-12">
                <h1 id="companyTitleSubheadline">ADHYAKSA JAYUS & PARTNERS</h1>
                <h4 id="companySummary">is an Indonesian law firm providing <span class="summaryHighlight">full range of legal service</span>
                    in Indonesia. Established in 2000, ADHYAKSA JAYUS & PARTNERS commands
                    <span class="summaryHighlight">a wealth of experience</span> and 
                    <span class="summaryHighlight">expertise in assisting our clients with unmatched commitment.</span>
                </h4>
            </div>
            <div class="col-md-12 summary-btn">
                <a href="{% url 'about_us' %}" id="learnMoreBtn">Learn more about us</a>
            </div>
            <div class="col-md-12 summary-btn">
                <a href="{% url 'our_team' %}" id="ourTeamBtn">Meet our teams</a>
            </div>
        </div>
    </div>
    <!-- <div class="container" id="teamMembers">
        <div class="row">
            <div class="col-md-12">
                <h1 id="teamMembersTitle">Meet Our Team Members</h1>
            </div>
        </div>
        <div class="row" id="memberList">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">CEO</h5>
                    <img class="card-img-top" src='{% static "home/img/ELANG.png" %}'>
                    <p class="card-text member-name">Muhammad Elang Adhyaksa</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Partner</h5>
                    <img class="card-img-top" src='{% static "home/img/BARATA2.png" %}'>
                    <p class="card-text member-name">Barata Mardikoesno</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Counsel</h5>
                    <img class="card-img-top" src='{% static "home/img/ADEL2.png" %}'>
                    <p class="card-text member-name">Adellina Syariffa</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Counsel</h5>
                    <img class="card-img-top" src='{% static "home/img/JESONG2.png" %}'>
                    <p class="card-text member-name">Jeselyn Ong</p>
                </div>
            </div>
        </div>
    </div> -->

{% endblock %}
