{% extends "base.html"%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href='{% static "home/css/landingpage2.css" %}' />
{% endblock %}

{% block title %}
    <title>ADHYAKSA JAYUS & PARTNERS | News & Updates</title>
{% endblock %}

{% block content %}
    <div class="container" id="newsHeader">
        <div class="row">
            <div class="col-md-12">
                <h3 id="newsHeaderTitle"><span>ADHYAKSA JAYUS & PARTNERS</span> News & Update</h3>
            </div>
        </div>
    </div>
    <div class="container" id="listBeritaSection">
        <div class="row">
            <div class="col-md-12">
              {% for berita in object_list %}
                <div class="card news-card">
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3 news-thumbnail">
                          <img src="{{ berita.photos.first.photo.url }}">
                        </div>
                        <div class="col-md-9">
                          <a href="{% url "news-details" berita.id berita.judul %}" class="news-list-title">{{ berita.judul }}</a>
                          <p class="news-date-and-writer">{{ berita.ditulis_pada|date:'d M Y H:i' }} | {{ berita.penulis }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% empty %}
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 news-content">
                            No News Yet.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
            <div class="col-md-12 pagination-div">
              {% if is_paginated %}
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li c>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                  {% endif %}
                  {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                  {% endif %}
                </ul>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
