{% extends "base.html"%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href='{% static "home/css/landingpage2.css" %}' />
{% endblock %}

{% block title %}
    <title>ADHYAKSA JAYUS & PARTNERS | News & Update</title>
{% endblock %}

{% block content %}  
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="card news-card news">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 news-detail-title">
                      <h3>{{ object.judul }}</h3>
                    </div>
                    <div class="col-md-12 news-image-headline">
                      <div id="newsImageCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        {% for gambar in object.photos.all %}
                          {% if forloop.counter == 1%}
                            <div class="carousel-item active">
                              <img class="d-block w-100 news-image-carousel" src="{{ gambar.photo.url }}" alt='{{ forloop.counter }}''>
                            </div>
                          {% else %}
                            <div class="carousel-item">
                              <img class="d-block w-100 news-image-carousel" src="{{ gambar.photo.url }}" alt='{{ forloop.counter }}''>
                            </div>  
                          {% endif %}
                        {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#newsImageCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#newsImageCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-12 news-detail">
                      <p class="news-date-and-writer">{{ object.ditulis_pada|date:'d M Y H:i' }} | {{ object.penulis }}</p>
                      <p class="news-detail-paragraph">{{ object.isi | linebreaks }}</p>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
{% endblock %}