{% extends "base.html"%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href='{% static "home/css/landingpage2.css" %}' />
{% endblock %}

{% block title %}
    <title>ADHYAKSA JAYUS & PARTNERS | Our Team</title>
{% endblock %}

{% block content %}
    <div class="container" id="headline">
        <div class="row">
            <div class="col-md-12">
                <h1 id="companyTitle">ADHYAKSA JAYUS & PARTNERS</h1>
                <h4 id="companySubtitle">Our Team</h4>
            </div>
        </div>
    </div>
    <div class="container section-container" id="teamMemberSection">
        <div class="row">
            <div class="col-md-12">
                <div id="accordion-why">
                  {% for member in member2 %}
                    <div class="card">
                      <div class="card-header" id="headingOneWhy" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOneWhy">
                        <div class="row">
                          <div class="col-md-11">
                            {{ member.nama_lengkap }}
                          </div>
                          <div class="col-md-1 dropdown-icon">
                            <i class="fas"></i>
                          </div>
                        </div>
                      </div>
                      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingOneWhy" data-parent="#accordion-why">
                        <div class="card-body">
                            <div class="container">
                              <!-- Biodata -->
                              <div class="row">
                                <div class="col-md-9 member-biodata">
                                  <table>
                                    <tr>
                                      <td class="member-title">{{ member.position_in_company }}</td>
                                    </tr>
                                    <tr>
                                      <td class="member-phone"><i class="fas fa-phone"></i> {{ member.phone_number }}</td>
                                    </tr>
                                    <tr>
                                      <td class="member-email"><i class="fas fa-envelope"></i> {{ member.email }}</td>
                                    </tr>
                                  </table>
                                </div>
                                <!-- Photo -->
                                <div class="col-md-3 member-photo">
                                  <img class="card-img" src='{{ member.photo_profile.url }}'>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 member-description">
                                    {{ member.profile_info | linebreaks }}
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
