@import url('https://rsms.me/inter/inter.css');

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Lexend Deca';
    font-style: normal;
}

/* Navbar */
.navbar {
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bolder;
    font-size: 24px;
    letter-spacing: -0.05em;
    color: #275D90 !important;
}

.navbar-brand:hover {
    color: #275D90 !important;
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #275D90 !important;
    border-radius: 0.5em;
}

.nav-link:hover {
    color: white !important;
    background-color: #275D90 !important;
    transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.1s;
    -moz-transition: ease-in 0.1s;
    -o-transition: ease-in 0.1s;
}

.navbar-light .nav-item:hover .nav-link {
    font-weight: 700 !important;
}

/* END OF NAVBAR */

#headline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(rgba(39,93,144,0.5), rgba(39,93,144,0.5)), url("../img/headline.jpg") no-repeat;
    background-size: cover;
}

#companyTitle {    
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

#companySubtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
}

#subheadline {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}

#companyTitleSubheadline {    
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #275D90;
}

#companySummary {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.summaryHighlight {
    font-weight: bold;
    color: #F58A3A;
}

.summary-btn {
    text-align: center;
    font-size: 18px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#learnMoreBtn {
    display: inline-block;
    background-color: #275D90;
    color: white;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#learnMoreBtn:hover {
    text-decoration: none;
    background-color: rgb(34, 77, 117);
    transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.1s;
    -moz-transition: ease-in 0.1s;
    -o-transition: ease-in 0.1s;
}

#ourTeamBtn {
    display: inline-block;
    background-color: #E6E6E6;
    color: black;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#ourTeamBtn:hover {
    text-decoration: none;
    background-color: rgb(202, 202, 202);
    transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.1s;
    -moz-transition: ease-in 0.1s;
    -o-transition: ease-in 0.1s;
}

/* About Us Page*/
#companyAboutUsSummary {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: white;
}

.summaryAboutUsHighlight {
    font-weight: bold;
    color: #FFB177;
}

.section-highlight {
    color: #F58A3A;
}

.section-container {
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 100%;
}

#whyAdhyaksaSection {
    background: #EEEEEE;
}

#whatWeDoSection {
    background: white;
}

.section-title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #275D90;
    margin-bottom: 25px;
}

.card {
    width: 60vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background: #275D90;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-header[aria-expanded="true"] {
    background:#F58A3A;
    text-decoration: none;
}

.card-header[aria-expanded="false"] .fas:before {
    content: '\f078';
}

.card-header[aria-expanded="true"] .fas:before {
    content: '\f077';
}

.dropdown-icon {
    text-align: end;
}

.btn-link {
    color: white;
    font-weight: bolder;
}

.btn-link:hover {
    color: white;
    text-decoration: none;
}

.card-body {
    font-family: 'Inter', sans-serif;
}

/* Our Team Page */
#teamMemberSection {
    min-height: 100vh;
}

.member-biodata {
    display: flex;
    align-items: center;
    justify-content: left;
}

.member-title {
    font-weight: 700;
    font-size: 24px;
    color: #275D90;
}

.member-phone i,
.member-email i {
    color: #275D90
}

.member-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 150px;
    height: 150px;
}

.member-description {
    margin-top: 20px;
    font-size: 14px;
}

/* Meet our team section */
#teamMembers {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

#teamMembersTitle {
    font-weight: 800;
}

#memberList {
    position: relative;
    align-content: center;
}

.member-name {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}

footer{
    background: #F58A3A;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footerTitle {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    color: #FFFFFF;
}

#footerAddress {
    /* font-weight: bold; */
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
}

/* Berita section */
#newsHeader {
    padding-top: 100px;
    color: #275D90;
    text-align: center;
}

#newsHeaderTitle {
    font-weight: 600;
}

#newsHeaderTitle > span {
    letter-spacing: -0.05em;
}

#listBeritaSection {
    padding-bottom: 50px;
    min-height: 100vh;
}

.news-card {
    border-width: 0;
}

.news-thumbnail img {
    width: 100%;
}

.news-title {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}

.news-title:hover {
    color: #000000;
    text-decoration: none;
}

.news-date-and-writer {
    font-weight: normal;
    font-size: 10px;
    color: #AAAAAA;
}

.news-content {
    margin-top: 20px;
    font-size: 20px;
}

.pagination-div {
    display: flex;
    justify-content: center;
}

.news {
    padding-top: 75px;
}

.news-detail-title > h3 {
    font-family: "Lexend Deca", sans-serif;
    color: #275D90;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.news-detail {
    margin-top: 10px;
}

.news-detail-paragraph {
    text-align: justify;
}

.news-list-title {
    color: #275D90 !important;
    font-weight: 600;
}

.news-list-title:hover {
    text-decoration: none !important;
}

.news-thumbnail img {
    height: 100px;
    max-height: 100px;
    object-fit: cover;
}

.news-image-carousel {
    height: 400px;
    max-height: 400px;
    object-fit: cover;
}

@media (min-width: 0px) {
    .my-nav {
        text-align: center;
        justify-content: center !important;
    }

    .my-nav-2 {
        justify-content: center !important;
    }
}

@media (min-width: 990px) {
    .my-nav {
        text-align: center !important;
        justify-content: flex-end !important;
    }
}