{% load static %}
<footer>
	<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
		<a class="navbar-brand" href="#">Fixed bottom</a>
	</nav> -->
	<div class="container" id="footer-container">
		<div class="row">
			<div class="col-md-6" id="footerTitle">
				<img src='{% static "home/img/new_logo_putih.svg" %}' style="width: 230px;"/>
			</div>
			<div class="col-md-6" id="footerAddress">
				Jl. Sisingamangaraja No. 28 <br>
				Jakarta 12110 - Indonesia <br>
				contact@adhyaksa.id <br>
			</div>
		</div>
	</div>
</footer>
