{% load static %}
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light my-nav">
        <div class="container my-nav-2">
            <a class="navbar-brand" href="{% url 'home' %}"><img src='{% static "home/img/new_logo_hitam.svg" %}' style="width: 230px;"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse my-nav" id="navbarToggler">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'our_team' %}">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">News & Updates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer-container">Contact Us</a>
                    </li>
                </ul>
            </div>
            
        </nav>
    </div>
</header>
